<div class="container">
	  <div class="row">
		<div class="col-sm-8" style="font-size:24px; text-align:center;">
			<img style = "width:100%;" src="@Model.image" />
		</div>
		<div class="col-sm-4" style="font-size:24px; text-align:center;">
			<div>Марка: @Model.marka</div>
			<div>Модель: @Model.model</div>
			<div>Год: @Model.year</div>
			<div>Топливо: @Model.toplivo</div>
			<div>Цвет: @Model.color</div>
			<div>Цена: @Model.price</div>
		</div>
	</div>
</div>
